<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726333805282-7e9ov46iu8tkakn61dhd5vklnuv8a932.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726333805282-7e9ov46iu8tkakn61dhd5vklnuv8a932</string>
	<key>API_KEY</key>
	<string>AIzaSyCYY6cmlkP7PfVyTQ5UQtDPtWdCQRi1Bs4</string>
	<key>GCM_SENDER_ID</key>
	<string>726333805282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbestech.deliveryBoy</string>
	<key>PROJECT_ID</key>
	<string>flutter-delivery-boy-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-delivery-boy-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726333805282:ios:cb4d5e5dae10064fdf84bb</string>
</dict>
</plist>